.greeting{
    margin: 40px 0 0 10px;
}

.dropdownSection{
    margin: 30px 0 0 0;
}

.toyInfoSection {
    margin: 50px 0 0 10px;
}

.imageSection {
    padding: 30px 0 0 0;
}

.quantitySection{
    margin: 40px 0 0 0;
}

.buttonSection {
    margin: 40px 0 40px 10px;
}